@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap');

:root {
    --btn-clr :  #e70280;
    --white-clr : #ffff;
    --black-clr: #000;
    --gray-clr: #808080;

    --font-bold: 700;
    --font-regular: 500;
    --font-light: 400;

}

*{ 
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
   box-sizing: border-box;
} 
.wrapper {
    max-width: 1500px;
    margin: auto;
}
body{
    background-color: #edf4fa;
}
/*media qury for screens smaller then 768 pixcels*/
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .container .left-col {
        flex: 1;
        margin-bottom: 20px;
    }

    .container .right-col {
        flex: 1;
    }

    .right-col img {
        max-width: 100%;
    }
}
.menu {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
}
.menu img{
    width:80px;
    border-radius: 50%;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: #192e47;
    justify-items: center;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}
nav ul li a:hover{
    color: #e70280;
    background-color: #e2cdd9;
    border-radius: 10px;
}
.menu button {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #192e47;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    position: relative;
}
.container .left-col{
    display: block;
    padding: 25px;
}
.left-col h2{
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1;
}
.left-col span{
    color: #e70280;
    font-weight: 700;
}
.left-col p{
    font-size: 20px;
    color: #797d81;
    font-weight: 500;
    margin-block: 35px;
    line-height: 1.8;
}
.left-col button{
    width: 190px;
    padding: 15px 10px; 
    font-size: 20px;
    margin-left: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.left-col button:hover {
    background: rgb(231,2,128);
    background: linear-gradient(18deg, rgba(231,2,128,1) 38%, rgba(85,70,252,0.8323704481792717) 85%);
    color: #fff;
}
.left-col button.active {
    background: rgb(231,2,128);
    background: linear-gradient(18deg, rgba(231,2,128,1) 38%, rgba(85,70,252,0.8323704481792717) 85%);
    color: #fff;
}
.right-col img{
    width:500px;
    border-radius: 50%;
}

.fa-br {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 100%;
    background-color: #dbdbdb;
    padding: 14px;
    margin-left: 50px;
    border-radius: 10%;
}
.fa-br i {
    background-color: #fff;
    font-weight: 700;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    gap: 10px;
}

/* About section */
.about-section {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}
.about-section .about-img {
    flex: 1;
}
.about-section .about-img img {
    width: 500px;
    /* border-radius: 50%; */
    margin-right: 10px;
}
.about-section .about-text-upper {
    display: block;
    flex: 1.2;
}
.about-section .about-text-upper h1 {
    font-size: 40px;
    line-height: 1;
    padding-bottom: 5px;
    font-weight: var(--font-bold);
}
.about-section .about-text-upper span {
    color: var(--btn-clr);
}
.about-section .about-text-upper p {
    text-align: justify;
    font-weight: var(--font-light);
    color: var(--gray-clr);
    padding-block: 10px;
    line-height: 1;
}
.about-section .about-btns {
    display: flex;
    gap: 20px;
    padding-block: 5px;
}
.about-section .about-btns button {
    padding: 10px  25px;
    font-size: 24px;
    font-weight: 500;
    color: var(--black-clr);
    background-color:  var(--white-clr);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.about-section .about-btns button.active {
    background: rgb(231,2,128);
    background: linear-gradient(18deg, rgba(231,2,128,1) 38%, rgba(85,70,252,0.8323704481792717) 85%);
    color: #fff;
}
.about-section .about-text-lower {
    display: block;
    margin-block: 20px;
    line-height: 0;

}
.about-text-upper .text-card {
    display: block;
}
.about-text-lower  .text-card .text-options {
    display: flex;
    gap: 20px;
    line-height: 0;
    padding-block: 10px;
}
.about-text-lower  .text-card .text-options p {
    font-size: 16px;
    text-transform: uppercase;

}
.about-section .download-Btn {
    padding: 15px  25px;
    font-size: 18px;
    font-weight: var(--font-bold);
    color: var(--black-clr);
    background-color:  var(--white-clr);
    border: 1px solid var(--black-clr);
    border-radius: 4px;
    cursor: pointer;
}

/*Service Section*/
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
}
.service h4{
    color: #e70280;
    font-size: 18px;
    line-height: 2;
}
.service h1 {
    font-size: 40px;
}
.service h1 span{
    color: #e70280;
}
.service-boxes {
    display: flex;
    justify-content: space-around; 
    margin-top: 20px;
    margin-block: 20px;
}
.box {
    background-color: #edf4fa;
    margin-left: 10px;
    padding: 50px 20px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 300px;

}
.box i {
    color: #9caec0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; 
    font-size: 30px;
}
.box h2 {
    padding-block: 10px;
    font-weight: 700;
}
.box p {
    color: var(--gray-clr);
    line-height: 1;
    margin-bottom: 12px;
    text-align: justify;
}

.box button {
    margin-block: 10px;
    font-size: 18px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 10px;
}
.box button a {
    text-decoration: none;
    color: var(--black-clr);
    font-weight: 700;
}
.box button a i {
    margin-inline: 10px;
}

/* portfolio section */
.portfolio {
    margin-block: 4%;
    padding: 10px;
}
.portfolio h4 {
    text-align: center;
    font-size: 20px;
    color: var(--btn-clr);
    margin-bottom: 10px;
}
.portfolio h1 {
    text-align: center;
    font-size: 50px;
}
.portfolio .portofolio-btns {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: #e3edf7;
    margin: 10px auto 0;
    padding: 5px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.portfolio .portofolio-btns button {
    border: none;
    padding: 10px;
    background-color: #e3edf7;
    color: #000;
    font-size: 20px;
    font-weight: var(--font-bold);

  
}
.portfolio .portofolio-btns .active {
    background-color: #edf4fa;
    width: 35%;
    margin: 1 1px;
    padding-bottom: 0 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} 

.Portfolio-cards {
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    margin-block: 20px;
    text-align: left;
}

/* .Portfolio-cards .hooyo{

    display: block;

} */

.Portfolio-cards .cards{
    display: flex;
    background-color: #1abe43;
    margin-bottom: 15px;
    padding: 15px;
    /* height: 50%; */
    width: 60%;
    margin-right: 1000%;
  
}
.Portfolio-cards .cards .card-right-col h1{

    text-align: left;
    font-size: 20px;
    padding-block: 20px;


}