@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap');

:root {
    --btn-clr :  #e70280;
    --white-clr : #ffff;
    --black-clr: #000;
    --gray-clr: #808080;

    --font-bold: 700;
    --font-regular: 500;
    --font-light: 400;

    --margin-padding: 10%;
}

*{ 
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.wrapper {
    /* max-width: 1200px; */
    margin: auto;
}
body{
    background-color: #edf4fa;
}
/*media qury for screens smaller then 768 pixcels*/
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .container .left-col {
        flex: 1;
        margin-bottom: 20px;
    }

    .container .right-col {
        flex: 1;
    }

    .right-col img {
        max-width: 100%;
    }
}
.menu {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
    margin-inline: var(--margin-padding);
}
.menu img{
    width:80px;
    border-radius: 50%;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: #192e47;
    justify-items: center;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px;
}
nav ul li a:hover{
    color: #e70280;
    background-color: #e2cdd9;
    border-radius: 10px;
}
.menu button {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #192e47;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    position: relative;
    margin-inline: var(--margin-padding);
}
.container .left-col{
    display: block;
    padding: 25px;
}
.left-col h2{
    font-size: 50px;
    line-height: 1;
}
.left-col span{
    color: #e70280;
    font-weight: 700;
}
.left-col p{
    font-size: 20px;
    color: #797d81;
    font-weight: 500;
    margin-block: 35px;
    line-height: 1.8;
}
.left-col button{
    width: 190px;
    padding: 15px 10px; 
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.left-col button:hover {
    background: rgb(231,2,128);
    background: linear-gradient(18deg, rgba(231,2,128,1) 38%, rgba(85,70,252,0.8323704481792717) 85%);
    color: #fff;
}
.left-col button.active {
    background: rgb(231,2,128);
    background: linear-gradient(18deg, rgba(231,2,128,1) 38%, rgba(85,70,252,0.8323704481792717) 85%);
    color: #fff;
}
.right-col img{
    /* border: 10px solid #192e47; */
    width:500px;
    border-radius: 50%;
}

.fa-br {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 100%;
    background-color: #dbdbdb;
    padding: 14px;
    margin-left: 50px;
    border-radius: 10%;
}
.fa-br i {
    background-color: #fff;
    font-weight: 700;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    gap: 10px;
}

/* About section */
.about-section {
    margin-top: 8%;
    background-color: var(--white-clr);
}
.about {
    display: flex;
    justify-content: space-between;
    margin-inline: var(--margin-padding);
}
.about-section .about-img {
    flex: 1;
}
.about-section .about-img img {
    width: 500px;
    margin-right: 10px;
}
.about-section .about-text-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex: 1.2;
}
.about-section .about-text-upper h2 {
    color:  rgb(231,2,128);
    margin-block:20px;
}
.about-section .about-text-upper h1 {
    font-size: 2rem;
    line-height: 1;
    padding-bottom: 15px;
    font-weight: var(--font-bold);

}
.about-section .about-text-upper span {
    color: var(--btn-clr);
}
.about-section .about-text-upper p {
    text-align: justify;
    font-weight: var(--font-light);
    color: var(--gray-clr);
    padding-block: 10px;
    line-height: 1;
    padding-block: 8px 16px;
}
.about-section .read-Btn {
    padding: 15px  25px;
    font-size: 18px;
    font-weight: var(--font-bold);
    color: var(--black-clr);
    background-color:  var(--white-clr);
    border: 1px solid var(--black-clr);
    border-radius: 4px;
    cursor: pointer;
}

/*Service Section*/
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
}
.service h4{
    color: #e70280;
    font-size: 18px;
    line-height: 2;
}
.service h1 {
    font-size: 40px;
}
.service h1 span{
    color: #e70280;
}
.service-boxes {
    display: flex;
    justify-content: space-around; 
    margin-top: 20px;
    margin-block: 20px;
}
.box {
    background-color: #edf4fa;
    margin-left: 10px;
    padding: 50px 20px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 300px;

}
.box i {
    color: #9caec0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; 
    font-size: 30px;
}
.box h2 {
    padding-block: 10px;
    font-weight: 700;
}
.box p {
    color: var(--gray-clr);
    line-height: 1;
    margin-bottom: 12px;
    text-align: justify;
}

.box button {
    margin-block: 10px;
    font-size: 18px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 10px;
}
.box button a {
    text-decoration: none;
    color: var(--black-clr);
    font-weight: 700;
}
.box button a i {
    margin-inline: 10px;
}

/* portfolio section */
.portfolio {
    margin-block: 4%;
    margin-inline: var(--margin-padding);
}
.portfolio h4 {
    text-align: center;
    font-size: 20px;
    color: var(--btn-clr);
    margin-block: 10px;
}
.portfolio h1 {
    text-align: center;
    font-size: 50px;
    margin-block-end: 25px;
}
.Portfolio-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}
.Portfolio-cards .cards {
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #2b3f57;
    width: 33.33%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.cards img {
    width: 100%;
    height: 70%;
}
.cards h2 {
    color: var(--white-clr);
    font-size: 1.6rem;
    padding-block: 10px 5px;
}
.cards p{
    color: #c4bbbb;
    font-size: 1rem;
    padding-block: 10px 5px;
}
.cards button {
    margin-block: 8px 0px;
    font-size: 1.3rem;
    padding: 7px 18px;
    background-color: #fff;
    color: var(--black-clr);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards button:hover {
    background-color: #e70280;
    color: #fff;
}

/* contact-section */
.contact-section {
    display: block;
    margin-block: 6% 2%;
    margin-inline: var(--margin-padding);
}
.contact {
    text-align: center;
    margin: 0 auto;
    width: 550px;
}
.contact h3 {
    color: var(--btn-clr);
    margin-top: 20px;
}
.contact h1 {
    font-size: 2rem;
}
.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form .user-details {
    display: flex;
    gap: 10px;
    margin-block: 20px
}
input {
    width: 100%;
    padding: 15px 25px;
    margin-top: 10px;
    outline: none;
    font-size: 1.4rem;
    border-radius: 12px;
}
textarea {
    width: 550px;
    height: 150px;
    border-radius: 12px;
    margin-block: 15px;
    resize: none;
    padding: 15px 25px;
    font-size: 1.4rem;
    outline: none;
}
.contact button {
    width: 100%;
    padding: 14px;
    border-radius: 15px;
    border: none;
    background-color: var(--btn-clr);
    color: var(--white-clr);
    font-size: 1.4rem;
    cursor: pointer;
}